/*#094E79 blue
EB9C34 yellow
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffeeee;
  font-family: "Nunito", sans-serif;
}

h1 {
  color: #094e79;
  text-align: center;
}

h2 {
  display: inline;
  color: #ffeeee;
}
#selector {
  display: inline;
  background-color: #eb9c34;
  border: none;
  color: #094e79;
  font-size: 24px;
  padding: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin-top: 10px;
  border-radius: 5px;
  overflow: scroll;
}

option {
  overflow: scroll;
  height: 20px;
}
.container {
  background-color: #094e79;
  margin-top: 50px;
  color: #ffeeee;
  width: 90%;
  position: relative;
  padding: 10px;
  border-radius: 10px;
}

#price {
  color: #eb9c34;
}
#cash-input-container {
  width: 100%;

  display: flex;
  flex-direction: row;
}
#amount-to-spend-input {
  display: inline;
  font-size: 24px;
  width: 80px;
  margin-bottom: 20px;
  color: #757575;
}

#convert-cash-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 70px;
  background-color: #eb9c34;
  color: #094e79;
  text-align: center;
  margin-left: 20px;

  border-radius: 5px;
}

#convert-cash-button:hover {
  cursor: pointer;
  background-color: #e9a750;
}

#cash-display {
  color: #eb9c34;
}

#this-will-buy-you {
  display: none;
  height: 8px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 655px) {
  /* Styles */
  h2 {
    display: inline;
    color: #ffeeee;
    font-size: 40px;
  }
  .container {
    background-color: #094e79;
    margin-top: 50px;
    color: #ffeeee;
    width: 90%;
    position: relative;
    padding: 10px;
    border-radius: 10px;
  }
}

@media only screen and (min-device-width: 800px) {
  h2 {
    display: inline;
    color: #ffeeee;
    font-size: 40px;
  }
  .container {
    background-color: #094e79;
    margin-top: 50px;
    color: #ffeeee;
    width: 75%;
    position: relative;
    padding: 10px;
    border-radius: 10px;
  }
}

@media only screen and (min-device-width: 1200px) {
  h2 {
    display: inline;
    color: #ffeeee;
    font-size: 50px;
  }
  .container {
    background-color: #094e79;
    margin-top: 50px;
    color: #ffeeee;
    width: 50%;
    position: relative;
    padding: 10px;
    border-radius: 10px;
  }
}
